DB_USERNAME=postgres
DB_PASSWORD=your_password_here
JWT_SECRET=your_base64_secret_here_min_256_bits
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
POSTGRES_DB=padel_manager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
